<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <base th:href="${#request.getContextPath()}+'/'">
    <title>Title</title>
</head>
<style>
    body{
        background: #00a0e9;
    }
    h3{
        text-align: center;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    td,tr{
        text-align: center;
    }
</style>
<script  src="ueditor/ueditor.config.js"></script>
<script src="ueditor/ueditor.all.js"></script>
<script src="ueditor/ueditor.parse.js"></script>
<!--<script src="/ueditor/lang/zh-cn/zh-cn.js"></script>-->
<!--<script src="/qiao/jquery-1.8.3.js"></script>-->
<!--<script src="/qiao/jquery-1.7.2.min.js"></script>-->
<body>
<!--

<table style="display: none">
    &lt;!&ndash;<h3>登录</h3>&ndash;&gt;
    <form action="/hai" method="post">
        <tr>
        <td>账号:<input type="text" name="uname" ></td>
    </tr>
        <tr>
            <td >密码:<input type="password" name="upwd"></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录">&nbsp;&nbsp;&nbsp;<input type="reset" value="重置"></td>
        </tr>
    </form>

</table>
-->
<!--<div style="width: 55%">
    <textarea name="articleContent.content" class="" id="content"></textarea>
</div>-->
<script id="editor" type="text/javascript" style="width:1024px;height:500px;"></script>
<script>
//实例化编辑器
UE.getEditor('editor', {});
UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
UE.Editor.prototype.getActionUrl = function(action) {
    console.log(action)
    if (action == 'file/ueditorupload' || action == 'uploadscrawl' || action == 'listimage' || action == 'uploadvideo') {
        return 'http://127.0.0.1/file/ueditorupload';
    } else if (action == 'listimage') {
        return 'http://127.0.0.1/file/listimage';
    }  else {
        return this._bkGetActionUrl.call(this, action);
    }
}


</script>
</body>
</html>